@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Kanit",  sans-serif;
    line-height: 1.7;
    color: #777;
}
.btn-primary{
    border-radius: 100px;
    background-color: orange;
    color: white;
    border-color: orange;
}
.btn-primary:hover{
    background-color:  rgb(193, 126, 0);
    border-color: rgb(193, 126, 0);
}
.option:hover{
    background-color:  rgb(193, 126, 0);
}

.error-message{
    color:red;
}